{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div class="jumbotron">

        <h2>Please Login: </h2>

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <hr>
            <input type="submit" class='btn btn-primary' value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again!</p>
        {% endif %}

    </div>

{% endblock %}